.page-title{
  font-size:clamp(1rem, 10vw , 3rem) !important;
  margin-top: 0;
  @include tablet{
    font-size:clamp(1rem, 7vw , 4rem) !important;
    margin-top:4vh;
  }
}

.cours{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  .session1,.session2,.session3,.session4,.session5,.session6{
    display: flex;
    margin: 2vh 0;
    width: 100%;
      .sigle{
        font-size: clamp(.6rem, 3vw , 1rem);
        margin: 0;
      }
      h1{
        font-size: clamp(1rem, 5vw , 1.2rem);
      }
      article{
        transition: all .3s ease-in;
        text-align: center;
        transform: rotate(-90deg);
        border: 1px solid rgb(14, 93, 136);
        border-radius: 10px;
        height: 40px;
        padding: 5px;
        p{
          display: none;
        }
        a:not(.sigle){
          display: none;
        }
      }

      // affichage tablette et +
      @include tablet{
        .sigle{
          display: none;
        }
        h1{
          display: block;
          color: rgb(20, 61, 111);
          padding-left: 10px;
          align-self: center;
        }
        article{
          transform: inherit;
          border: 2.5px solid  rgb(14, 93, 136);
          margin: 0 1%;
          width: 100%;
          height: inherit;
          padding: inherit;
          p{
            display: block;
            margin-bottom: 1em;
          }
          a:not(.sigle){
            display: block !important;
            text-decoration: none;
            font-size: clamp(.8rem, 1.3vw , 1.2rem);
            font-weight: bold;
          }
        }
    }
  }

  .bleu{
    background-color: lightcoral;
  }

  .session1{
    a{
      color: rgb(116, 42, 191);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(100, 57, 143, 0.604);
    }
  }
  .session2{
    a{
      color: rgb(134, 190, 250);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(134, 190, 250, 0.556);
    }
  }
  .session3{
    a{
      color: rgb(91, 216, 204);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(91, 216, 203, 0.548);
    }
  }
  .session4{
    a{
      color: rgb(232, 97, 67);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(232, 97, 67, 0.522);
    }
  }
  .session5{
    a{
      color: rgb(237, 94, 225);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(237, 94, 225, 0.521);
    }
  }
  .session6{
    a{
      color: rgb(38, 186, 117);
    }
    article:hover{
      transform: scale(101%);
      box-shadow: 0px 5px 13px rgba(38, 186, 117, 0.548);
    }
  }
}